
* {
  background-color: black;

}
.coin-container {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
}

.coin-row {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.coin {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  
}

.coin p {
  font-size: 14px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
  padding: 0px 10px;
}

.coin-data {
  display: grid;
  .coin-data-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .coin-data-1-left {
      padding-right: 10px;
      p {
        padding: 10px 0px;
      }
    }
    .coin-data-1-right {
      text-align: right;
      p {
        padding: 10px 0px;
      }
    }
  }
  .coin-data-2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    width: 100%;
    .coin-data-2-left {
      padding-right: 10px;
      p {
        padding: 10px 0px;
      }
      .coin-data-2-left-arrows {
        span:nth-child(1) {
            color: green !important;
        }
        span:nth-child(2) {
          color: red;
        }
        
      }
    }
    .coin-data-2-right {
      text-align: right;
      p {
        padding: 10px 0px;
      }
    }
  }
}



.coin-price {
  width: 100%;
}

.coin-volume {
  
}

.coin-marketcap {
  // width: 155px;
}

.coin-percent {
  width: 100%
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

@media screen and (max-width: 600px) {
  .coin-container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

    .coin-row {
      display: grid;
    }
  }
}

// @media screen and (max-width: 300px) {
//   .coin-container {
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     position: relative;
//     width: 100%;

//     .coin-row {
//       display: grid;
//     }
//   }
// }